<template>
    <div data-app>
        <div class="row">
            <div class="col">
                <div class="row mb-2">
                    <div class="col-auto ms-auto">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2 btn-group-sm mb-1" role="group" aria-label="Calculate group">
                                <button type="button" class="btn btn-sm btn-default" @click="print()"><i class="bx bx-printer"></i> 화면출력</button>
                            </div>
                            <div class="btn-group btn-group-sm mb-1" role="group" aria-label="Action group">
                                <button type="button" class="btn btn-sm btn-default" @click="excel()"><i class="bx bx-save"></i> 엑셀저장</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-modern">
                    <div class="card-body">
                        <div class="row align-items-center">										
                            <div class="col-8 col-lg-auto ml-auto mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">검색조건:</label>
                                    <v-select
                                    class="form-control select-style-1"
                                    v-model="sortBy"
                                    :items="keys"
                                    item-text="name"
                                    item-value="value"
                                    ></v-select>
                                </div>
                            </div>
                            <div class="col-4 col-lg-auto ps-lg-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">보기:</label>
                                    <v-combobox
                                    class="form-control select-style-1"
                                    v-model="hiddenBy"
                                    :items="keys"
                                    item-text="name"
                                    item-value="value"
                                    @input="dataInHidden"
                                    multiple
                                    outlined
                                    dense
                                    ></v-combobox>
                                </div>
                            </div>                            
                            <div class="col-auto ms-auto ps-lg-1">
                                <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                    <div class="input-group">
                                        <input type="text" class="search-term form-control" name="search-term" id="search-term" v-model="search" single-line hide-details placeholder="Search Category"> 
                                        <button class="btn btn-default" type="#"><i class="bx bx-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gridPrint">
            <v-data-table
                :headers="headers"
                :items="dataInfo"
                :search="search"
                :sort-by="sortBy.toLowerCase()"
                :items-per-page="itemsPerPage"
                :sort-desc="sortDesc"
                hide-default-footer
                class="elevation-1">
                <template v-slot:top>
                </template>  
               <template v-slot:[getitemcontrols()]="{ item }">
                    <tr>
                        <td class="text-start table-hover selected1" >{{ item.id }}</td>
                        <td class="text-start table-hover selected2" >{{ item.username }}</td>
                        <td class="text-start table-hover selected3" >{{ item.depart_name }}</td>
                        <td class="text-start table-hover selected4" >{{ item.transfer_date }}</td>    
                    </tr>    
                </template> 
            </v-data-table>
        </div>       
    </div>
</template>

<script>
import api from '@/api';
import * as printjs from "print-js";
export default{
    props: [
        'depart_id'
    ],
    name : 'DepartHistory',
    data(){
        return {
            search:'',
            sortDesc:false,
            sortBy:'',
            hiddenBy : [{ name:'전체', value :''}],
            itemsPerPage: 0,
            departId : this.depart_id,
            headers:[
                {
                    text : '순번',
                    value: 'id',
                    align: '',
                },
                {
                    text : '직원명',
                    value: 'username',
                    align :'',
                },
                {
                    text : '부서명',
                    value: 'depart_name',
                    align :'',
                },
                {
                    text:  '전입일',
                    value: 'transfer_date',
                    align :'',
                },
            ],
            keys: [
                {
                    name : '전체',
                    value :  ''
                },
                {
                    name :'순번',
                    value : 'id'
                },
                {
                    name : '직원명',
                    value: 'username'
                },
                {
                    name : '부서명',
                    value: 'depart_name'
                },
                {
                    name : '전입일',
                    value: 'transfer_date'
                },
            ],
            dataInfo: [],
            headerLang:0,
        }
    },
    mounted() {
        // 실행시 데이터 로드
        this.readDataInfo();
    },   
    watch : {
        'depart_id' : function(){
            this.departId = this.depart_id;
        }
    },
    methods:{   
        getitemcontrols(){
            return `item`;
        },
        dataInHidden($event){

            var selected1 = document.getElementsByClassName('selected1');
            var selected2 = document.getElementsByClassName('selected2');
            var selected3 = document.getElementsByClassName('selected3');
            var selected4 = document.getElementsByClassName('selected4');            

            for(var w = 0; w < this.itemsPerPage; w++){
                selected1[w].style.display = '';
                selected2[w].style.display = '';
                selected3[w].style.display = '';
                selected4[w].style.display = '';               
            }
            for(var yss = 0; yss < this.headers.length; yss++ ){
                this.headers[yss].align = ' ';                 
            }             
            const hiddenByInfo = new Array();
            const hiddenByInfos = new Array();             
            if($event.length == 0){
                hiddenByInfo.name = '전체';
                hiddenByInfo.value = '';     
                hiddenByInfos.push(hiddenByInfo);
                this.hiddenBy = hiddenByInfos;
                for(var t = 0; t < this.headers.length; t++ ){
                    this.headers[t].align = '';
                }
            }else if($event[0].value == '' &&  1 < $event.length){
                for(var ex = 0; ex < $event.length; ex++){
                    if($event[ex].value != ''){
                        hiddenByInfo.name = $event[ex].name;
                        hiddenByInfo.value = $event[ex].value;         
                        hiddenByInfos.push(hiddenByInfo);  
                        for(var y = 0; y < this.headers.length; y++ ){
                            if($event[ex].value == this.headers[y].value){
                                this.headers[y].align = ' d-none';
                            }else{
                                this.headers[y].align = ' ';
                            }                        
                        }    
                    } 
                }
                this.hiddenBy = hiddenByInfos;    
            }else{
                var boolean = false;
                for(var ee = 0; ee < this.hiddenBy.length; ee++){
                    if(this.hiddenBy[ee].value == ''){
                         boolean = true;
                         break;
                    }else{
                        for(var ys = 0; ys < this.headers.length; ys++ ){
                            if(this.hiddenBy[ee].value == this.headers[ys].value){
                                this.headers[ys].align = ' d-none';
                            }                    
                        } 
                    }
                }
                if(boolean){
                    hiddenByInfo.name = '전체';
                    hiddenByInfo.value = '';
                    hiddenByInfos.push(hiddenByInfo);
                    this.hiddenBy = hiddenByInfos;
                    for(var sc = 0; sc < this.headers.length; sc++ ){
                        this.headers[sc].align = ' ';
                    }
                }else{
                    for(var ew = 0; ew < $event.length; ew++){
                        const evtVal = $event[ew].value;
                        if(evtVal == 'id'){
                            for(var a = 0; a < this.itemsPerPage; a ++){
                                selected1[a].style.display = 'none';
                            }  
                        }else if(evtVal == 'username'){
                            for(var b = 0; b < this.itemsPerPage; b ++){
                                selected2[b].style.display = 'none';
                            }                  
                        }else if(evtVal == 'depart_name'){
                            for(var c = 0; c < this.itemsPerPage; c ++){
                                selected3[c].style.display = 'none';
                            } 
                        }else if(evtVal == 'transfer_date'){
                            for(var d = 0; d < this.itemsPerPage; d ++){
                                selected4[d].style.display = 'none';
                            } 
                        }                 
                    }
                }                
            }

 
        },
        readDataInfo(){
            const readDate = async ()=>{
                const departInfoObj = new Object();
                departInfoObj.id = this.departId;
                const res = await api.DepartmentHistory.readDepartmentHistoryInfo(departInfoObj);
                this.dataInfo = res.data;
                this.itemsPerPage = res.data.length;
                this.headerLang = res.data.length;
            }
            readDate();
        },
        print () {
            printjs({
                printable: this.dataInfo,
                type: 'json',
                properties: [
                    { field: 'id', displayName: '순번'}, 
                    { field: 'username', displayName: '직원명'}, 
                    { field: 'depart_name', displayName: '부서명'},
                    { field: 'transfer_date', displayName: '전입일'}
                ],
                header: '<h3 class="custom-h3">직원 부서 이력 조회</h3>',
            })
        },
        excel(){
            const Xlsx = require('sheetjs-style');

            const arr = this.dataInfo;
            
            const excelDate = arr.map(x => {
            let y = {};
                y['순번'] = x['id'];
                y['직원명'] = x['username'];
                y['부서명'] = x['depart_name'];
                y['전입일'] = x['transfer_date'];
                return y;
            });

            const workBook = Xlsx.utils.book_new();
            const ws = Xlsx.utils.json_to_sheet(excelDate);
            ws['A1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['B1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['C1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['D1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }    
            Xlsx.utils.book_append_sheet(workBook, ws, '직원 부서 이력 조회');
            Xlsx.writeFile(workBook, '직원 부서 이력 조회.xlsx');
        }
    }
} 
</script>
