<template>
    <div data-app>
        <div class="row">
            <div class="col">
                <div class="row mb-2">
                    <div class="col-auto ms-auto">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group btn-group-sm me-2 mb-1" role="group" aria-label="State group">
                                <button type="button" class="btn btn-sm btn-default" @click="editItem('create')"><i class="bx bx-add-to-queue"></i>아이디 추가</button> 
                            </div>
                            <div class="btn-group me-2 btn-group-sm mb-1" role="group" aria-label="Calculate group">
                                <button type="button" class="btn btn-sm btn-default" @click="print()"><i class="bx bx-printer"></i> 화면출력</button>
                            </div>
                            <div class="btn-group btn-group-sm mb-1" role="group" aria-label="Action group">
                                <button type="button" class="btn btn-sm btn-default" @click="excel()"><i class="bx bx-save"></i> 엑셀저장</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-modern">
                    <div class="card-body">
                        <div class="row align-items-center">										
                            <div class="col-8 col-lg-auto ml-auto mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">검색조건:</label>
                                    <v-select
                                    class="form-control select-style-1"
                                    v-model="sortBy"
                                    :items="keys"
                                    item-text="name"
                                    item-value="value"
                                    ></v-select>
                                </div>
                            </div>
                            <div class="col-4 col-lg-auto ps-lg-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">보기:</label>
                                    <v-combobox
                                    class="form-control select-style-1"
                                    v-model="hiddenBy"
                                    :items="keys"
                                    item-text="name"
                                    item-value="value"
                                    @input="dataInHidden"
                                    multiple
                                    outlined
                                    dense
                                    ></v-combobox>
                                </div>
                            </div>                            
                            <div class="col-auto ms-auto ps-lg-1">
                                <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                    <div class="input-group">
                                        <input type="text" class="search-term form-control" name="search-term" id="search-term" v-model="search" single-line hide-details placeholder="Search Category"> 
                                        <button class="btn btn-default" type="#"><i class="bx bx-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gridPrint">
            <v-data-table
                :headers="headers"
                :items="dataInfo"
                :search="search"
                :sort-by="sortBy.toLowerCase()"
                :items-per-page="itemsPerPage"
                :sort-desc="sortDesc"
                @click:row = "editItem"
                hide-default-footer
                class="elevation-1">
                <template v-slot:top>
                    <v-toolbar flat>
                        <!-- 등록 및 수정 모달 창-->
                        <v-dialog v-model="dialog" max-width="500px">
                                <v-card>
                                    <v-card-title>
                                        <span class="text-h5">{{ formTitle }}</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="6" md ="4">
                                                    <v-text-field v-model="editedItem.userid" label="아이디"></v-text-field>                   
                                                </v-col>
                                                <v-col cols="12" sm="6" md ="4">
                                                    <v-text-field v-model="editedItem.username" label="이름"></v-text-field>                   
                                                </v-col>
                                                <v-col cols="12" sm="6" md ="4">
                                                    <v-text-field v-model="editedItem.password" label="암호"></v-text-field>                   
                                                </v-col> 
                                                 <label class="ws-nowrap me-3 mb-0">수정권한:</label>
                                                <v-select
                                                    class="form-control select-style-1"
                                                    v-model="authCodeSortBy"
                                                    :items="authCodeKeys"
                                                    item-text="name"
                                                    item-value="value"
                                                ></v-select>                                                       
                                            </v-row>    
                                        </v-container>            
                                    </v-card-text> 
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn  color="blue darken-1" text @click="save" >
                                            Save 
                                        </v-btn>
                                        <v-btn color="blue darken-1" text @click="close" >
                                            Cancel
                                        </v-btn>
                                    </v-card-actions>                                                               
                                </v-card>
                        </v-dialog>       
                        <!--삭제 모달 창 -->
                        <v-dialog v-model="dialogDelete" max-width="500px">
                            <v-card>
                                <v-card-title class="text-h5">아이디 정보를 삭제 하시겠습니까?</v-card-title>
                                <v-text-field v-model="editedItem.id" hidden></v-text-field>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                    <v-spacer></v-spacer>
                                </v-card-actions>   
                            </v-card>    
                        </v-dialog>
                    </v-toolbar> 
                </template>  
               <template v-slot:[getitemcontrols()]="{ item }">
                    <tr>
                        <td class="text-start table-hover selected1" @click="editItem(item)">{{ item.userid }}</td>
                        <td class="text-start table-hover selected2" @click="editItem(item)">{{ item.username }}</td>
                        <td class="text-start table-hover selected3" @click="editItem(item)">{{ item.password }}</td>
                        <td class="text-start table-hover selected4" @click="editItem(item)">{{ item.authcode == 1 ?  '읽기' : '쓰기'  }}</td>
                        <td class="text-start table-hover selected5"> <v-icon small @click.stop="deleteItem(item)">mdi-delete</v-icon></td>    
                    </tr>    
                </template> 
            </v-data-table>
        </div>       
    </div>
</template>

<script>
import api from '@/api';
import * as printjs from "print-js";
export default{
    name : 'IdManagement',
    data(){
        return {
            colorPickerDialog : false,
            dialog: false,
            dialogDelete: false,
            search:'',
            sortDesc:false,
            sortBy:'',
            hiddenBy : [{ name:'전체', value :''}],
            itemsPerPage: 0,
            authCodeSortBy:'0',
            headers:[
                {
                    text : '아이디',
                    value: 'userid',
                    align: '',
                },
                {
                    text : '이름',
                    value: 'username',
                    align :'',
                },
                {
                    text : '암호',
                    value: 'password',
                    align :'',
                },
                {
                    text : '수정권한',
                    value: 'authcode',
                    align :'',
                },
                {
                    text:  '',
                    value: 'actions',
                    sortable : false,
                    align :'',
                },
            ],
            keys: [
                {
                    name : '전체',
                    value :  ''
                },
                {
                    name :'아이디',
                    value : 'userid'
                },
                {
                    name : '이름',
                    value: 'username'
                },
                {
                    name : '암호',
                    value: 'password'
                },
                {
                    name : '수정권한',
                    value: 'authcode'
                },
            ],
            authCodeKeys:[
                {
                    name :'쓰기',
                    value : 0
                },
                {
                    name :'읽기',
                    value : 1
                },
            ],
            dataInfo: [],
            editedIndex: -1,
            editedItem: {
                id:'',
                userid: '',
                username: '',
                password :'',
                authcode: ''
            },
            defaultItem : {
                id:'',
                userid: '',
                username: '',
                password :'',
                authcode: ''
            },
            headerLang:0,
        }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? '아이디 추가' : '아이디 수정'
      },
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete() 
      },
    },
    mounted() {
        // 실행시 데이터 로드
        this.readDataInfo();
    },    
    methods:{    
        getitemcontrols(){
            return `item`;
        },
        dataInHidden($event){
            var selected1 = document.getElementsByClassName('selected1');
            var selected2 = document.getElementsByClassName('selected2');
            var selected3 = document.getElementsByClassName('selected3');
            var selected4 = document.getElementsByClassName('selected4');            
            var selected5 = document.getElementsByClassName('selected5'); 

            for(var w = 0; w < this.itemsPerPage; w++){
                selected1[w].style.display = '';
                selected2[w].style.display = '';
                selected3[w].style.display = '';
                selected4[w].style.display = ''; 
                selected5[w].style.display = '';                
            }
            for(var yss = 0; yss < this.headers.length; yss++ ){
                this.headers[yss].align = ' ';                 
            }             
            const hiddenByInfo = new Array();
            const hiddenByInfos = new Array();             
            if($event.length == 0){
                hiddenByInfo.name = '전체';
                hiddenByInfo.value = '';     
                hiddenByInfos.push(hiddenByInfo);
                this.hiddenBy = hiddenByInfos;
                for(var t = 0; t < this.headers.length; t++ ){
                    this.headers[t].align = '';
                }
            }else if($event[0].value == '' &&  1 < $event.length){
                for(var ex = 0; ex < $event.length; ex++){
                    if($event[ex].value != ''){
                        hiddenByInfo.name = $event[ex].name;
                        hiddenByInfo.value = $event[ex].value;         
                        hiddenByInfos.push(hiddenByInfo);  
                        for(var y = 0; y < this.headers.length; y++ ){
                            if($event[ex].value == this.headers[y].value){
                                this.headers[y].align = ' d-none';
                            }else{
                                this.headers[y].align = ' ';
                            }                        
                        }    
                    } 
                }
                this.hiddenBy = hiddenByInfos;    
            }else{
                var boolean = false;
                for(var ee = 0; ee < this.hiddenBy.length; ee++){
                    if(this.hiddenBy[ee].value == ''){
                         boolean = true;
                         break;
                    }else{
                        for(var ys = 0; ys < this.headers.length; ys++ ){
                            if(this.hiddenBy[ee].value == this.headers[ys].value){
                                this.headers[ys].align = ' d-none';
                            }                    
                        } 
                    }
                }
                if(boolean){
                    hiddenByInfo.name = '전체';
                    hiddenByInfo.value = '';
                    hiddenByInfos.push(hiddenByInfo);
                    this.hiddenBy = hiddenByInfos;
                    for(var sc = 0; sc < this.headers.length; sc++ ){
                        this.headers[sc].align = ' ';
                    }
                }else{
                    for(var ew = 0; ew < $event.length; ew++){
                        const evtVal = $event[ew].value;
                        if(evtVal == 'userid'){
                            for(var a = 0; a < this.itemsPerPage; a ++){
                                selected1[a].style.display = 'none';
                            }  
                        }else if(evtVal == 'username'){
                            for(var b = 0; b < this.itemsPerPage; b ++){
                                selected2[b].style.display = 'none';
                            }                  
                        }else if(evtVal == 'password'){
                            for(var c = 0; c < this.itemsPerPage; c ++){
                                selected3[c].style.display = 'none';
                            } 
                        }else if(evtVal == 'authcode'){
                            for(var d = 0; d < this.itemsPerPage; d ++){
                                selected4[d].style.display = 'none';
                                selected5[d].style.display = 'none';
                            } 
                        }                
                    }
                }                
            }

 

        },
        readDataInfo(){
            const readDate = async ()=>{
                const res = await api.IdManagement.readIdManagementInfo();
                this.dataInfo = res.data;
                this.itemsPerPage= res.data.length;
                this.headerLang = res.data.length;
            }
            readDate();
        },
        editItem (item) {
            this.editedIndex = this.dataInfo.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.authCodeSortBy = this.editedItem.authcode == '' || this.editedItem.authcode == undefined ? 0 : this.editedItem.authcode;
            this.dialog = true;
        },
        deleteItem (item) {
            this.editedIndex = this.dataInfo.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },
        deleteItemConfirm () {
            const deleteInfo = this.dataInfo[this.editedIndex];
            const deleteAxios = async ()=>{
                const res = await api.IdManagement.deleteIdManagementInfo(deleteInfo);
                if(res.status == '200'){
                    alert('아이디를 삭제했습니다.');
                    this.readDataInfo();
                    this.closeDelete();
                }else{
                    alert('아이디 삭제를 실패했습니다.');
                }
            }
            deleteAxios();
        },
        close () {
            this.dialog = false
            this.$nextTick(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1 
            })
        },
        closeDelete () {
            this.dialogDelete = false
            this.$nextTick(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
            })
        },
        save () {
            const userInfo = this.$store.state.authStore;
            this.editedItem.admin_id = userInfo.userId;
            if (this.editedIndex > -1) {
                // 수정
                const updateDate = Object.assign(this.dataInfo[this.editedIndex], this.editedItem);
                updateDate.authcode = this.authCodeSortBy;
                const updateAxios = async ()=>{
                const res = await api.IdManagement.updateIdManagementInfo(updateDate);
                if(res.data){
                        alert('아이디 정보를 수정했습니다.');
                        this.readDataInfo();
                        this.close();
                    }else{
                        alert('아이디가 중복 되었습니다.');
                    }
                }
                updateAxios();
            } else {
                // 저장
                const createDate = this.editedItem;
                createDate.authcode = this.authCodeSortBy;
                const createAxios = async ()=>{
                    const res = await api.IdManagement.createIdManagementInfo(createDate);
                    console.log(res);
                    if(res.data){
                        alert('아이디 정보를 등록했습니다.');
                        this.readDataInfo();
                        this.close();
                    }else{
                        alert('아이디가 중복 되었습니다.');
                    }
                }
                createAxios();        
            }
        },
        print () {
            const arr = this.dataInfo;
            const printInfo = arr.map(x =>{
                let y = {};
                y['userid'] = x['userid'];
                y['username'] = x['username'];
                y['password'] = x['password'];
                y['authcode'] = x['authcode'];
                y.authcode = y.authcode == 0 ? '쓰기' : '읽기'
                return y;
            });
            printjs({
                printable: printInfo,
                type: 'json',
                properties: [
                    { field: 'userid', displayName: '아이디'}, 
                    { field: 'username', displayName: '이름'}, 
                    { field: 'password', displayName: '암호'},
                    { field: 'authcode', displayName: '수정권한'}
               ],
                header: '<h3 class="custom-h3">아이디 관리</h3>',
                gridHeaderStyle: 'border: 2px solid #3971A5',
                gridStyle: 'border: 2px solid #3971A5;'
            })

        },
        excel(){
            const Xlsx = require('sheetjs-style');

            const arr = this.dataInfo;
            
            const excelDate = arr.map(x => {
                let y = {};
                y['아이디'] = x['userid'];
                y['이름'] = x['username'];
                y['암호'] = x['password'];
                y['수정권한'] = x['authcode'];
                y.수정권한 = y.수정권한 == 0 ? '쓰기' : '읽기'
                return y;
            });

            const workBook = Xlsx.utils.book_new();
            const ws = Xlsx.utils.json_to_sheet(excelDate);
            ws['A1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['B1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['C1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['D1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['!cols'] = {
                width: 150 
            }    
            Xlsx.utils.book_append_sheet(workBook, ws, '아이디 관리');
            Xlsx.writeFile(workBook, '아이디 관리.xlsx');
        }
    }
} 
</script>
