<template>
    <div data-app>
        <div>
            <div>
                <h5>적용연월</h5>
                <select  v-model="yearsSelected">
                    <option :key="i" :value="d" v-for="(d, i) in yearsOption">{{d}}</option>
                </select> 
                <select v-model="daysSelected">
                    <option :key="i" :value="d" v-for="(d, i) in daysOption">{{d}}</option>
                </select>       
            </div>
            <div>
                <h5>연이율</h5>
                <input type="text" @input="bindDecimal" :value="interest_rate">%
            </div>
            <div>
                <h5>일환산이율</h5>
                <input type="text" :value="day_interest_rate" readonly>%
            </div>
            <div>
                <h5>절사구분</h5>
                <input type="text" value="절사(내림)" readonly>
            </div>
            <div>
                <h5>기준일수</h5>
                <input type="text" @input="bindNumber" :value="base_day">일
            </div>
        </div>    
        <div>
            <div>
                <h5>대출소수자리</h5>
                <input type="text" :value="loan_decimal_places" readonly>
            </div>
            <div>
                <h5>기준금액</h5>
                <input type="text" @input="bindMoney" :value="base_amount">
            </div>
            <div>
                <h5>연이자금</h5>
                <input type="text" :value="annual_interest" readonly>
            </div>
            <div>
                <h5>일이자금</h5>
                <input type="text" :value="day_interest" readonly>
            </div>
            <div>
                <h5>30일이자금</h5>
                <input type="text" :value="thirtyday_interest" readonly>
            </div>
            <div>
                <h5>기준일수이자금</h5>
                <input type="text" :value="base_day_interest" readonly>
            </div>
        </div>   
        <div>
            <button type="button" class="btn btn-sm btn-default" @click="dataSubmit()"><i class="bx bx-add-to-queue"></i>추가</button>
            <button type="button" class="btn btn-sm btn-default" @click="print()"><i class="bx bx-printer"></i> 화면출력</button>
            <button type="button" class="btn btn-sm btn-default" @click="excel()"><i class="bx bx-save"></i> 엑셀저장</button> 
        </div>
        <div class="col-4 col-lg-auto ps-lg-1 mb-3 mb-lg-0">
            <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                <label class="ws-nowrap me-3 mb-0">보기:</label>
                <v-combobox
                class="form-control select-style-1"
                v-model="hiddenBy"
                :items="keys"
                item-text="name"
                item-value="value"
                @input="dataInHidden"
                multiple
                outlined
                dense
                ></v-combobox>
            </div>
        </div>      
        <div>
            <v-data-table
                :headers="headers"
                :items="dataInfo"
                :sort-by="sortBy.toLowerCase()"
                :items-per-page="itemsPerPage"
                :sort-desc="sortDesc"
                hide-default-footer
                class="elevation-1">
                <template v-slot:top>
                    <v-toolbar flat>
                        <!-- 등록 창 -->
                        <v-dialog v-model="dialog" max-width="500px">
                            <v-card>
                                <v-card-title class="text-h5">연 이율{{interest_rate}}(%)을 추가하시겠습니까?</v-card-title>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="save">OK</v-btn>
                                        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                    <v-spacer></v-spacer>
                                </v-card-actions>   
                            </v-card>    
                        </v-dialog>
                    </v-toolbar> 
                </template>  
               <template v-slot:[getitemcontrols()]="{ item }">
                    <tr>
                        <td class="text-start table-hover selected1">{{ item.apply_date }}</td>
                        <td class="text-start table-hover selected2">{{ item.interest_rate }}</td>
                        <td class="text-start table-hover selected3">{{ item.month_rate }}</td>
                        <td class="text-start table-hover selected4">{{ item.days_rate}}</td>  
                    </tr>    
                </template> 
            </v-data-table>
        </div>    
    </div>    
</template>
<script>
import api from '@/api';
import * as printjs from "print-js";
export default{
    name : 'LoanSetting',
    data(){
        return {
            itemsPerPage : 0,
            headerLang : 0,
            dataInfo: [],
            hiddenBy : [{ name:'전체', value :''}],
            keys :[
                {
                    name : '전체',
                    value :  ''
                },
                {
                    name :'적용연월',
                    value : 'apply_date'
                },
                {
                    name : '연이율(%)',
                    value: 'interest_rate'
                },
                {
                    name : '월환산이율(%)',
                    value: 'month_rate'
                },
                {
                    name : '일환산이율(%)',
                    value: 'days_rate'
                },                
            ],
            yearsOption :[],
            yearsSelected : new Date().getFullYear(),
            daysOption : [],
            daysSelected :  new Date().getMonth(),
            interest_rate : '0',
            base_day : '30',
            loan_decimal_places:'0.000001',
            base_amount : '10,000,000',
            day_interest_rate : '0',
            annual_interest : '0',
            day_interest: '0',
            thirtyday_interest : '0',
            base_day_interest : '0',
            sortBy:'',
            sortDesc:false,
            dialog : false,
            editedItem:{
                apply_date:'',
                interest_rate:'',
                admin_id:''
            },
            headers:[
                {
                    text : '적용연월',
                    value: 'apply_date',
                    align: '',
                },
                {
                    text : '연이율(%)',
                    value: 'interest_rate',
                    align :'',
                },
                {
                    text : '월환산이율(%)',
                    value: 'month_rate',
                    align :'',
                },
                {
                    text : '일환산이율(%)',
                    value: 'days_rate',
                    align :'',
                },
            ],
        }
    },
    watch: {
        interest_rate(val){
            const reg = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣|a-z]/;
            if(reg.exec(val)!==null) this.interest_rate = val.replace(/[^0-9]/g,'');
            if(isNaN(parseFloat(val))) this.interest_rate = '';
        },
        base_day(){
            this.base_day = this.base_day.replace(/[^0-9]/g, '');
        },
        base_amount(){
            this.base_amount = this.base_amount.replace(/[^0-9]/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
    },
    mounted(){
        this.yearData();
        this.readDataInfo();
    },
    methods : {
        getitemcontrols(){
            return `item`;
        },
        dataInHidden($event){
           var selected1 = document.getElementsByClassName('selected1');
            var selected2 = document.getElementsByClassName('selected2');
            var selected3 = document.getElementsByClassName('selected3');
            var selected4 = document.getElementsByClassName('selected4');    
            for(var w = 0; w < this.itemsPerPage; w++){
                selected1[w].style.display = '';
                selected2[w].style.display = '';
                selected3[w].style.display = '';
                selected4[w].style.display = '';               
            }
            for(var yss = 0; yss < this.headers.length; yss++ ){
                this.headers[yss].align = ' ';                 
            }             
            const hiddenByInfo = new Array();
            const hiddenByInfos = new Array();             
            if($event.length == 0){
                hiddenByInfo.name = '전체';
                hiddenByInfo.value = '';     
                hiddenByInfos.push(hiddenByInfo);
                this.hiddenBy = hiddenByInfos;
                for(var t = 0; t < this.headers.length; t++ ){
                    this.headers[t].align = '';
                }
            }else if($event[0].value == '' &&  1 < $event.length){
                for(var ex = 0; ex < $event.length; ex++){
                    if($event[ex].value != ''){
                        hiddenByInfo.name = $event[ex].name;
                        hiddenByInfo.value = $event[ex].value;         
                        hiddenByInfos.push(hiddenByInfo);  
                        for(var y = 0; y < this.headers.length; y++ ){
                            if($event[ex].value == this.headers[y].value){
                                this.headers[y].align = ' d-none';
                            }else{
                                this.headers[y].align = ' ';
                            }                        
                        }    
                    } 
                }
                this.hiddenBy = hiddenByInfos;    
            }else{
                var boolean = false;
                for(var ee = 0; ee < this.hiddenBy.length; ee++){
                    if(this.hiddenBy[ee].value == ''){
                         boolean = true;
                         break;
                    }else{
                        for(var ys = 0; ys < this.headers.length; ys++ ){
                            if(this.hiddenBy[ee].value == this.headers[ys].value){
                                this.headers[ys].align = ' d-none';
                            }                    
                        } 
                    }
                }
                if(boolean){
                    hiddenByInfo.name = '전체';
                    hiddenByInfo.value = '';
                    hiddenByInfos.push(hiddenByInfo);
                    this.hiddenBy = hiddenByInfos;
                    for(var sc = 0; sc < this.headers.length; sc++ ){
                        this.headers[sc].align = ' ';
                    }
                }else{
                    for(var ew = 0; ew < $event.length; ew++){
                        const evtVal = $event[ew].value;
                        if(evtVal == 'apply_date'){
                            for(var a = 0; a < this.itemsPerPage; a ++){
                                selected1[a].style.display = 'none';
                            }  
                        }else if(evtVal == 'interest_rate'){
                            for(var b = 0; b < this.itemsPerPage; b ++){
                                selected2[b].style.display = 'none';
                            }                  
                        }else if(evtVal == 'month_rate'){
                            for(var c = 0; c < this.itemsPerPage; c ++){
                                selected3[c].style.display = 'none';
                            } 
                        }else if(evtVal == 'days_rate'){
                            for(var d = 0; d < this.itemsPerPage; d ++){
                                selected4[d].style.display = 'none';
                            } 
                        }                 
                    }   
                }                
            }

                         
        },
        yearData(){
            // 현재 년도로 부터 5년 설정
            for(var i = 0; i <= 5; i++){
                this.yearsOption.push(this.yearsSelected + i)
            }

            // 12개월 설정
            for(var z = 1; z <= 12; z++){
                this.daysOption.push(z)
            }
        },
        readDataInfo(){
            const readDate = async ()=>{
                const res = await api.LoanSetting.readIdLoanSettingInfo();
                for(var i = 0; i < res.data.length; i++){
                    res.data[i].month_rate =  (res.data[i].interest_rate / 12).toFixed(4);
                    res.data[i].days_rate =   (res.data[i].interest_rate / 365).toFixed(4); 
                }
                this.dataInfo = res.data;
                this.itemsPerPage= res.data.length;
                this.headerLang = res.data.length;
            }
            readDate();
        },
        bindDecimal(event){
            this.interest_rate = event.target.value;
            this.loanCalculation();
        },
        bindNumber(event){
            this.base_day = event.target.value; 
            this.loanCalculation();
        },
        bindMoney(event){
            this.base_amount = event.target.value; 
            this.loanCalculation();
        },
        loanCalculation(){

            const deformatter_money = this.base_amount.replace(/[^0-9]/g, '');

            const interest_rate_yearly = (this.interest_rate / 100).toFixed(4);

            const interest_rate_day = (this.interest_rate / 365).toFixed(4) /100 ;

            // 일환산이율
            this.day_interest_rate = isNaN(interest_rate_day * 100) ? '0' : interest_rate_day * 100;

            // 연이자금
            this.annual_interest = isNaN(Math.floor(deformatter_money * interest_rate_yearly)) ? '0' :  Math.floor(deformatter_money * interest_rate_yearly).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            
            // 일이자금
            this.day_interest = isNaN(Math.floor(deformatter_money * interest_rate_day)) ? '0' : Math.floor(deformatter_money * interest_rate_day).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            
            // 30일이자금
            this.thirtyday_interest =  isNaN(Math.floor(deformatter_money * interest_rate_day * 30)) ? '0' : Math.floor(deformatter_money * interest_rate_day * 30).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

            // 기준일수 이자금
            this.base_day_interest = isNaN(Math.floor(deformatter_money * interest_rate_day * this.base_day)) ? '0' : Math.floor(deformatter_money * interest_rate_day * this.base_day).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        print(){
            printjs({
                printable: this.dataInfo,
                type: 'json',
                properties: [
                    { field: 'apply_date', displayName: '적용연월'}, 
                    { field: 'interest_rate', displayName: '연이율(%)'}, 
                    { field: 'month_rate', displayName: '월환산이율(%)'},
                    { field: 'days_rate', displayName: '일환산이율(%)'}
               ],
                header: '<h3 class="custom-h3">대출이율설정</h3>',
                gridHeaderStyle: 'border: 2px solid #3971A5',
                gridStyle: 'border: 2px solid #3971A5;'
            })
        },
        excel(){
            const Xlsx = require('sheetjs-style');
            const arr = this.dataInfo;
            const excelDate = arr.map(x => {
                let y = {};
                y['적용연월'] = x['apply_date'];
                y['연이율(%)'] = x['interest_rate'];
                y['월환산이율(%)'] = x['month_rate'];
                y['일환산이율(%)'] = x['days_rate'];
                return y;
            });

            const workBook = Xlsx.utils.book_new();
            const ws = Xlsx.utils.json_to_sheet(excelDate);
            ws['A1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['B1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['C1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['D1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }  
            Xlsx.utils.book_append_sheet(workBook, ws, '대출이율설정');
            Xlsx.writeFile(workBook, '대출이율설정.xlsx');
        },
        dataSubmit(){
            this.dialog = true;
        },
        save(){
            const userInfo = this.$store.state.authStore;
            this.editedItem.admin_id = userInfo.userId;
            const years = this.yearsSelected;
            var days =  this.daysSelected;
            if(days < 10){
                days = '0'+days;
            }
            this.editedItem.apply_date = years+'-'+days+'-01';
            this.editedItem.interest_rate = this.interest_rate;
            const createAxios = async()=>{
                const res = await api.LoanSetting.createIdLoanSettingInfo(this.editedItem);
                if(res.data){
                    alert('대출이율 정보가 추가 되었습니다.');
                    this.readDataInfo();
                    this.close();
                }else{
                    alert('대출이율 정보가 추가에 실패 했습니다.');
                }

            }
            createAxios();
        },
        close(){
            this.dialog = false;
        }
    }
}   
</script>
