<template>
    <div data-app>
        <div class="row">
            <div class="col">
                <div class="row mb-2">
                    <div class="col-auto ms-auto">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group btn-group-sm me-2 mb-1" role="group" aria-label="State group">
                                <button type="button" class="btn btn-sm btn-default" @click="editItem('create')"><i class="bx bx-add-to-queue"></i>직원 추가</button> 
                            </div>
                            <div class="btn-group me-2 btn-group-sm mb-1" role="group" aria-label="Calculate group">
                                <button type="button" class="btn btn-sm btn-default" @click="print()"><i class="bx bx-printer"></i> 화면출력</button>
                            </div>
                            <div class="btn-group btn-group-sm mb-1" role="group" aria-label="Action group">
                                <button type="button" class="btn btn-sm btn-default" @click="excel()"><i class="bx bx-save"></i> 엑셀저장</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-modern">
                    <div class="card-body">
                        <div class="row align-items-center">										
                            <div class="col-8 col-lg-auto ml-auto mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">검색조건:</label>
                                    <v-select
                                    class="form-control select-style-1"
                                    v-model="sortBy"
                                    :items="keys"
                                    item-text="name"
                                    item-value="value"
                                    ></v-select>
                                </div>
                            </div>
                            <div class="col-4 col-lg-auto ps-lg-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">보기:</label>
                                    <v-combobox
                                    class="form-control select-style-1"
                                    v-model="hiddenBy"
                                    :items="keys"
                                    item-text="name"
                                    item-value="value"
                                    @input="dataInHidden"
                                    multiple
                                    outlined
                                    dense
                                    ></v-combobox>
                                </div>
                            </div>
                            <div class="col-4 col-lg-auto ps-lg-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">부서별 보기:</label>
                                    <v-combobox
                                    class="form-control select-style-1"
                                    v-model="departBy"
                                    :items="departKeys"
                                    item-text="name"
                                    item-value="value"
                                    @input="departCheck"
                                    multiple
                                    outlined
                                    dense
                                    ></v-combobox>
                                </div>
                            </div>
                            <div class="col-4 col-lg-auto ps-lg-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">상태별 보기:</label>
                                    <v-combobox
                                    class="form-control select-style-1"
                                    v-model="statusBy"
                                    :items="statusKeys"
                                    item-text="name"
                                    item-value="value"
                                    @input="statusCheck"
                                    multiple
                                    outlined
                                    dense
                                    ></v-combobox>
                                </div>
                            </div>                                                            
                            <div class="col-auto ms-auto ps-lg-1">
                                <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                    <div class="input-group">
                                        <input type="text" class="search-term form-control" name="search-term" id="search-term" v-model="search" single-line hide-details placeholder="Search Category"> 
                                        <button class="btn btn-default" type="#"><i class="bx bx-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gridPrint">
            <v-card>
            <v-data-table
                :headers="headers"
                :items="dataInfo"
                :search="search"
                :sort-by="sortBy.toLowerCase()"
                :items-per-page="itemsPerPage"
                :sort-desc="sortDesc"
                @click:row = "editItem"
                loading
                loading-text="Loading... Please wait"
                >
                <template v-slot:top>
                    <v-toolbar flat>
                        <!-- 등록 및 수정 모달 창-->
                        <v-dialog v-model="dialog" max-width="500px">
                                <v-card>
                                    <v-card-title>
                                        <span class="text-h5">{{ formTitle }}</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="6" md ="4">
                                                    <label class="ws-nowrap me-3 mb-0">부서명:</label>
                                                    <v-select
                                                    class="form-control select-style-1"
                                                    v-model="editedItem.depart_code"
                                                    :items="editedItemDepartKeys"
                                                    item-text="name"
                                                    item-value="value"
                                                    ></v-select>     
                                                </v-col>
                                                <v-col cols="12" sm="6" md ="4">                
                                                    <!--datePicker-->
                                                    <data-Picker :transfer_date="transfer_date" @submit="submitDatePicker"></data-Picker>                  
                                                </v-col>
                                                <v-col cols="12" sm="6" md ="4">
                                                    <v-text-field v-model="editedItem.username" label="직원명"></v-text-field>                   
                                                </v-col> 
                                                <v-col cols="12" sm="6" md ="4">
                                                    <label class="ws-nowrap me-3 mb-0">상태:</label>
                                                    <v-select
                                                    class="form-control select-style-1"
                                                    v-model="editedItem.status_code"
                                                    :items="editedItemStatusKeys"
                                                    item-text="name"
                                                    item-value="value"
                                                    ></v-select>                                                        
                                                </v-col> 
                                                <v-col cols="12" sm="6" md ="4">
                                                    <v-text-field v-model="editedItem.id_reg" label="주민번호"></v-text-field>                   
                                                </v-col>
                                                <v-col cols="12" sm="6" md ="4">
                                                    <v-text-field v-model="editedItem.bank_account" label="계좌번호"></v-text-field>                   
                                                </v-col>      
                                                <v-col cols="12" sm="6" md ="4">
                                                    <v-text-field v-model="editedItem.monthly_invest" label="월출자금"></v-text-field>                   
                                                </v-col>                 
                                                <v-col cols="12" sm="6" md ="4">
                                                    <v-text-field v-model="editedItem.misc" label="비고"></v-text-field>                   
                                                </v-col>                                                                                                                                                                                
                                            </v-row>    
                                        </v-container>            
                                    </v-card-text> 
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn  color="blue darken-1" text @click="save" >
                                            Save 
                                        </v-btn>
                                        <v-btn color="blue darken-1" text @click="close" >
                                            Cancel
                                        </v-btn>
                                    </v-card-actions>                                                               
                                </v-card>
                        </v-dialog>       
                        <!--삭제 모달 창 -->
                        <v-dialog v-model="dialogDelete" max-width="500px">
                            <v-card>
                                <v-card-title class="text-h5">아이디 정보를 삭제 하시겠습니까?</v-card-title>
                                <v-text-field v-model="editedItem.id" hidden></v-text-field>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                                        <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                                    <v-spacer></v-spacer>
                                </v-card-actions>   
                            </v-card>    
                        </v-dialog>
                    </v-toolbar> 
                </template>  
               <template v-slot:[getitemcontrols()]="{ item }">
                    <tr>
                        <td class="text-start table-hover selected1" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.depart_code }}</h6></td>
                        <td class="text-start table-hover selected2" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.depart_name }}</h6></td>
                        <td class="text-start table-hover selected3" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.username }}</h6></td>
                        <td class="text-start table-hover selected4" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.status }}</h6></td>
                        <td class="text-start table-hover selected5" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.id_reg }}</h6></td>
                        <td class="text-start table-hover selected6" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.join_date }}</h6></td>
                        <td class="text-start table-hover selected7" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.transfer_date }}</h6></td>
                        <td class="text-start table-hover selected8" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.leave_date }}</h6></td>
                        <td class="text-start table-hover selected9" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.monthly_invest }}</h6></td>
                        <td class="text-start table-hover selected10" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.loan }}</h6></td>
                        <td class="text-start table-hover selected11" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.monthly_repay }}</h6></td>
                        <td class="text-start table-hover selected12" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.total_repay }}</h6></td>
                        <td class="text-start table-hover selected13" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.loan_balance }}</h6></td>
                        <td class="text-start table-hover selected14" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.num_loan }}</h6></td>
                        <td class="text-start table-hover selected15" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.loan_date }}</h6></td>
                        <td class="text-start table-hover selected16" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.bank_account }}</h6></td>
                        <td class="text-start table-hover selected17" :style="{background : '#' + item.status_color }" @click="editItem(item)"><h6>{{ item.misc }}</h6></td>
                        <td class="text-start table-hover selected18" :style="{background : '#' + item.status_color }" ><v-icon small class="mr-2" @click.stop="windowPopUp(item.depart_code)">mdi-pencil</v-icon></td>
                        <td class="text-start table-hover selected19" :style="{background : '#' + item.status_color }" ><v-icon small @click.stop="deleteItem(item)">mdi-delete</v-icon></td>    
                    </tr>    
                </template> 
            </v-data-table>
            </v-card>
        </div>       
    </div>
</template>

<script>
import api from '@/api';
import DatePicker from "@/components/DatePicker.vue";
import * as printjs from "print-js";
export default{
    components:{
        'data-Picker' : DatePicker,
    },
    name : 'StaffManagement',
    data(){
        return {
            datePicker : false,
            dialog: false,
            dialogDelete: false,
            search:'',
            sortDesc:false,
            sortBy:'',
            hiddenBy : [{ name:'전체', value :''}],
            itemsPerPage: 100,
            authCodeSortBy:'0',
            headers:[
                {
                    text : '순번',
                    value: 'depart_code',
                    align: '',
                    width: '75px'
                },
                {
                    text : '부서명',
                    value: 'depart_name',
                    align :'',
                    width: '110px'
                },
                {
                    text : '직원명',
                    value: 'username',
                    align :'',
                    width: '85px'
                },
                {
                    text : '상태',
                    value: 'status',
                    align :'',
                    width: '75px'
                },
                {
                    text : '주민번호',
                    value: 'id_reg',
                    align :'',
                    width: '130px'
                },
                {
                    text : '가입일',
                    value: 'join_date',
                    align :'',
                    width: '100px'
                },
                {
                    text : '전입일',
                    value: 'transfer_date',
                    align :'',
                    width: '100px'
                },
                {
                    text : '탈퇴일',
                    value: 'leave_date',
                    align :'',
                    width: '100px'
                },
                {
                    text : '월출자금',
                    value: 'monthly_invest',
                    align :'',
                    width: '100px'
                },
                {
                    text : '대출금',
                    value: 'loan',
                    align :'',
                    width: '100px'
                },
                {
                    text : '월상환금',
                    value: 'monthly_repay',
                    align :'',
                    width: '100px'
                },
                {
                    text : '총상환금',
                    value: 'total_repay',
                    align :'',
                    width: '100px'
                },
                {
                    text : '대출잔금',
                    value: 'loan_balance',
                    align :'',
                    width: '100px'
                },
                {
                    text : '횟수',
                    value: 'num_loan',
                    align :'',
                    width: '75px'
                },
                {
                    text : '대출일',
                    value: 'loan_date',
                    align :'',
                    width: '100px'
                },
                {
                    text : '은행계좌번호',
                    value: 'bank_account',
                    align :'',
                    width: '150px'
                },
                {
                    text : '비고',
                    value: 'misc',
                    align :'',
                    width: '100px'
                },
                {
                    text : '부서이력',
                    value: 'historyActions',
                    sortable : false,
                    align :'',
                },
                {
                    text:  '',
                    value: 'actions',
                    sortable : false,
                    align :'',
                },
            ],
            keys: [
                {
                    name : '전체',
                    value :  ''
                },
                {
                    name :'순번',
                    value : 'depart_code'
                },
                {
                    name : '부서명',
                    value: 'depart_name'
                },
                {
                    name : '직원명',
                    value: 'username'
                },
                {
                    name : '상태',
                    value: 'status'
                },
                {
                    name : '주민번호',
                    value: 'id_reg'
                },
                {
                    name : '가입일',
                    value: 'join_date'
                },
                {
                    name : '전입일',
                    value: 'transfer_date'
                },
                {
                    name : '탈퇴일',
                    value: 'leave_date',
                },
                {
                    name : '월출자금',
                    value: 'monthly_invest'
                },
                {
                    name : '대출금',
                    value: 'loan'
                },
                {
                    name : '월상환금',
                    value: 'monthly_repay'
                },
                {
                    name : '총상환금',
                    value: 'total_repay'
                },
                {
                    name : '대출잔금',
                    value: 'loan_balance'
                },
                {
                    name : '횟수',
                    value: 'num_loan'
                },
                {
                    name : '대출일',
                    value: 'loan_date'
                },
                {
                    name : '비고',
                    value: 'bank_account'
                },
                {
                    name : '부서이력',
                    value: 'misc'
                },
                {
                    name : '부서이력',
                    value: 'historyActions',
                },  
            ],
            transfer_date : '',
            departKeys: [],  
            departBy:[{ name:'전체', value :''}],
            statusKeys : [],
            statusBy : [{ name:'전체', value :''}],
            dataInfo: [],
            realdataInfo: [],
            editedIndex: -1,
            editedItem: {
                id:'',
                depart_code:'',
                depart_name:'',
                status_code: '',
                status:'',
                username: '',
                id_reg :'',
                join_date: '',
                bank_account:'',
                monthly_invest:'',
                misc:'',
                transfer_date : '',
                admin_id:''
            },
            defaultItem : {
                id:'',
                depart_code:'',
                depart_name:'',
                status_code: '',
                status:'',
                username: '',
                id_reg :'',
                join_date: '',
                bank_account:'',
                monthly_invest:'',
                misc:'',
                transfer_date : '',
                admin_id:''
            },
            headerLang:0,
            editedItemDepartKeys : [],
            editedItemStatusKeys : [],
        }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? '직원 정보 추가' : '직원 정보 수정'
      },
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete() 
      },
    },
    mounted() {
        // 실행시 데이터 로드
        this.readDataInfo();
        this.comboboxInfo();
    },    
    methods:{    
        getitemcontrols(){
            return `item`;
        },
        showDatePicker(){
            this.datePicker = true;
        },
        submitDatePicker(submit){
            this.editedItem.transfer_date = submit;
        },
        comboboxInfo(){
            var basicKey = new Array();
            
            basicKey.name = '전체';
            basicKey.value = '';
            const readDepartmentDate = async ()=>{
                const res = await api.DepartmentManagement.readDepartmentInfo();
                const editedItemtKey = new Array();
                const keysInfo = new Array();
                keysInfo.push(basicKey);
                for(var de = 0; de < res.data.length; de++){
                    var key = new Array();
                    key.name = res.data[de].depart_name;
                    key.value = res.data[de].id;
                    editedItemtKey.push(key);
                    keysInfo.push(key);
                }
                this.editedItemDepartKeys = editedItemtKey;
                this.departKeys = keysInfo;
            }
            readDepartmentDate();

            const readStatusDate = async ()=>{
                const res = await api.StaffStateColor.readStaffStateColorInfo();
                const editedItemtKey = new Array();
                const keysInfo = new Array();
                keysInfo.push(basicKey);
                for(var de = 0; de < res.data.length; de++){
                    var key = new Array();
                    key.name = res.data[de].status;
                    key.value = res.data[de].id;
                    editedItemtKey.push(key);
                    keysInfo.push(key);
                }
                this.statusKeys = keysInfo;
                this.editedItemStatusKeys = editedItemtKey;
            }
            readStatusDate();
        },
        windowPopUp(item){
            // console.log(item);
            window.open('/DepartHistory/'+item,'_blank','resizable,height=600,width=1200').focus;
            //  this.$router.push({path : '/DepartHistory/'+item});
        },
        dataInHidden($event){
            var selected1 = document.getElementsByClassName('selected1');
            var selected2 = document.getElementsByClassName('selected2');
            var selected3 = document.getElementsByClassName('selected3');
            var selected4 = document.getElementsByClassName('selected4');            
            var selected5 = document.getElementsByClassName('selected5');
            var selected6 = document.getElementsByClassName('selected6');
            var selected7 = document.getElementsByClassName('selected7');
            var selected8 = document.getElementsByClassName('selected8');
            var selected9 = document.getElementsByClassName('selected9');            
            var selected10 = document.getElementsByClassName('selected10');    
            var selected11 = document.getElementsByClassName('selected11');
            var selected12 = document.getElementsByClassName('selected12');
            var selected13 = document.getElementsByClassName('selected13');
            var selected14 = document.getElementsByClassName('selected14');            
            var selected15 = document.getElementsByClassName('selected15');    
            var selected16 = document.getElementsByClassName('selected16');
            var selected17 = document.getElementsByClassName('selected17');
            var selected18 = document.getElementsByClassName('selected18');
            var selected19 = document.getElementsByClassName('selected19');            
            
            for(var w = 0; w < this.itemsPerPage; w++){
                    selected1[w].style.display = '';
                    selected2[w].style.display = '';
                    selected3[w].style.display = '';
                    selected4[w].style.display = '';
                    selected5[w].style.display = '';
                    selected6[w].style.display = '';
                    selected7[w].style.display = '';
                    selected8[w].style.display = '';
                    selected9[w].style.display = '';
                    selected10[w].style.display = '';
                    selected11[w].style.display = '';
                    selected12[w].style.display = '';
                    selected13[w].style.display = '';
                    selected14[w].style.display = '';
                    selected15[w].style.display = '';
                    selected16[w].style.display = '';
                    selected17[w].style.display = '';
                    selected18[w].style.display = '';
                    selected19[w].style.display = '';
            }

            for(var yss = 0; yss < this.headers.length; yss++ ){
                this.headers[yss].align = ' ';                 
            }   

            const hiddenByInfo = new Array();
            const hiddenByInfos = new Array();
            if($event.length == 0){
                hiddenByInfo.name = '전체';
                hiddenByInfo.value = '';     
                hiddenByInfos.push(hiddenByInfo);
                this.hiddenBy = hiddenByInfos;
                for(var t = 0; t < this.headers.length; t++ ){
                    this.headers[t].align = '';
                }
            }else if($event[0].value == '' &&  1 < $event.length){
                for(var ex = 0; ex < $event.length; ex++){
                    if($event[ex].value != ''){
                        hiddenByInfo.name = $event[ex].name;
                        hiddenByInfo.value = $event[ex].value;         
                        hiddenByInfos.push(hiddenByInfo);  
                        for(var y = 0; y < this.headers.length; y++ ){
                            if($event[ex].value == this.headers[y].value){
                                this.headers[y].align = ' d-none';
                            }else{
                                this.headers[y].align = ' ';
                            }                        
                        }    
                    } 
                }
                this.hiddenBy = hiddenByInfos;    
            }else{
                var boolean = false;
                for(var ee = 0; ee < this.hiddenBy.length; ee++){
                    if(this.hiddenBy[ee].value == ''){
                         boolean = true;
                         break;
                    }else{
                        for(var ys = 0; ys < this.headers.length; ys++ ){
                            if(this.hiddenBy[ee].value == this.headers[ys].value){
                                this.headers[ys].align = ' d-none';
                            }                    
                        } 
                    }
                }
                if(boolean){
                    hiddenByInfo.name = '전체';
                    hiddenByInfo.value = '';
                    hiddenByInfos.push(hiddenByInfo);
                    this.hiddenBy = hiddenByInfos;
                    for(var sc = 0; sc < this.headers.length; sc++ ){
                        this.headers[sc].align = '';
                    }
                }else{
                    for(var ew = 0; ew < $event.length; ew++){
                        const evtVal = $event[ew].value;
                        if(evtVal == 'depart_code'){
                            for(var a = 0; a < this.itemsPerPage; a ++){
                                selected1[a].style.display = 'none';
                            }  
                        }else if(evtVal == 'depart_name'){
                            for(var b = 0; b < this.itemsPerPage; b ++){
                                selected2[b].style.display = 'none';
                            }                  
                        }else if(evtVal == 'username'){
                            for(var c = 0; c < this.itemsPerPage; c ++){
                                selected3[c].style.display = 'none';
                            } 
                        }else if(evtVal == 'status'){
                            for(var d = 0; d < this.itemsPerPage; d ++){
                                selected4[d].style.display = 'none';
                            }
                        }else if(evtVal == 'id_reg'){
                            for(var e = 0; e < this.itemsPerPage; e ++){
                                selected5[e].style.display = 'none';
                            } 
                        }else if(evtVal == 'join_date'){
                            for(var f = 0; f < this.itemsPerPage; f ++){
                                selected6[f].style.display = 'none';
                            }  
                        }else if(evtVal == 'transfer_date'){
                            for(var g = 0; g < this.itemsPerPage; g ++){
                                selected7[g].style.display = 'none';
                            } 
                        }else if(evtVal == 'leave_date'){
                            for(var h = 0; h < this.itemsPerPage; h ++){
                                selected8[h].style.display = 'none';
                            }
                        }else if(evtVal == 'monthly_invest'){
                            for(var j = 0; j < this.itemsPerPage; j ++){
                                selected9[j].style.display = 'none';
                            } 
                        }else if(evtVal == 'loan'){
                            for(var k = 0; k < this.itemsPerPage; k ++){
                                selected10[k].style.display = 'none';
                            }  
                        }else if(evtVal == 'monthly_repay'){
                            for(var l = 0; l < this.itemsPerPage; l ++){
                                selected11[l].style.display = 'none';
                            }  
                        }else if(evtVal == 'total_repay'){
                            for(var m = 0; m < this.itemsPerPage; m ++){
                                selected12[m].style.display = 'none';
                            } 
                        }else if(evtVal == 'loan_balance'){
                            for(var n = 0; n < this.itemsPerPage; n ++){
                                selected13[n].style.display = 'none';
                            }  
                        }else if(evtVal == 'num_loan'){
                            for(var o = 0; o < this.itemsPerPage; o ++){
                                selected14[o].style.display = 'none';
                            }
                        }else if(evtVal == 'loan_date'){
                            for(var p = 0; p < this.itemsPerPage; p ++){
                                selected15[p].style.display = 'none';
                            }  
                        }else if(evtVal == 'bank_account'){
                            for(var q = 0; q < this.itemsPerPage; q ++){
                                selected16[q].style.display = 'none';
                            } 
                        }else if(evtVal == 'misc'){
                            for(var s = 0; s < this.itemsPerPage; s ++){
                                selected17[s].style.display = 'none';
                            }
                        }else if(evtVal == 'historyActions'){
                            for(var r = 0; r < this.itemsPerPage; r ++){
                                selected18[r].style.display = 'none';
                                selected19[r].style.display = 'none';                           
                            } 
                        }                
                    }  
                }                
            }
        },
        readDataInfo(){
            const readDate = async ()=>{
                const res = await api.StaffManagement.readStaffManagementInfo();
                this.dataInfo = res.data;
                this.realdataInfo = res.data;
                // this.itemsPerPage= res.data.length;
                this.headerLang = res.data.length;
            }
            readDate();
        },
        departCheck($event){
            const departEvtInfo = new Array();
            const departEvtInfos = new Array();
            const departByInfos = new Array();
            const deparByInfo = new Array();
            if($event.length == 0){
                deparByInfo.name = '전체';
                deparByInfo.value = '';
                departByInfos.push(deparByInfo);
                this.departBy = departByInfos;
                
                if(this.statusBy[0].value == ''){
                    this.dataInfo = this.realdataInfo;
                }else{
                    for(var y = 0; y < this.statusBy.length; y++){
                        for(var q = 0; q < this.realdataInfo.length; q++){
                            if(this.statusBy[y].value == this.realdataInfo[q].status_code){
                                departEvtInfo.push(this.realdataInfo[q]);
                            }
                        }
                    }
                    this.dataInfo = departEvtInfo;
                }
            }else if($event[0].value == '' &&  1 < $event.length){
                for(var i = 0; i < $event.length; i++){
                    if($event[i].value != ''){
                        deparByInfo.name = $event[i].name;
                        deparByInfo.value = $event[i].value;
                        departByInfos.push(deparByInfo);
                        for(var z = 0; z < this.realdataInfo.length; z++){
                            if($event[i].value == this.realdataInfo[z].depart_code){
                                departEvtInfo.push(this.realdataInfo[z]);
                            }
                        }
                    }
                }
                this.departBy = departByInfos;
                if(this.statusBy[0].value == ''){
                    this.dataInfo = departEvtInfo;
                }else{
                    for(var w = 0; w < this.statusBy.length; w++){
                        for(var e = 0; e < departEvtInfo.length; e++){
                            if(this.statusBy[w].value == departEvtInfo[e].status_code){
                                departEvtInfos.push(departEvtInfo[e]);
                            }
                        }
                    }
                    this.dataInfo = departEvtInfos;
                }
            }else{
                var boolean = false;
                for(var x = 0; x < $event.length; x++){
                    if($event[x].value == ''){
                         boolean = true;
                         break;
                    }
                    for(var s = 0; s < this.realdataInfo.length; s++){
                        if($event[x].value == this.realdataInfo[s].depart_code){
                            departEvtInfo.push(this.realdataInfo[s]);
                        }
                    }
                }
                if(boolean){
                    deparByInfo.name = '전체';
                    deparByInfo.value = '';
                    departByInfos.push(deparByInfo);
                    this.departBy = departByInfos;
                    this.dataInfo = this.realdataInfo;
                }else{
                    if(this.statusBy[0].value == ''){
                        this.dataInfo = departEvtInfo;
                    }else{
                        for(var r = 0; r < this.statusBy.length; r++){
                            for(var t = 0; t < departEvtInfo.length; t++){
                                if(this.statusBy[r].value == departEvtInfo[t].status_code){
                                    departEvtInfos.push(departEvtInfo[t]);
                                }
                            }
                        }
                        this.dataInfo = departEvtInfos.sort();
                    }
                }
            } 
        },
        statusCheck($event){       
            const stInfoEvtInfo = new Array();
            const stInfoEvtInfos = new Array();
            const statusByInfos = new Array();
            const statusByInfo = new Array();

            if($event.length == 0){
                statusByInfo.name = '전체';
                statusByInfo.value = '';
                statusByInfos.push(statusByInfo);
                this.statusBy = statusByInfos;
                if(this.departBy[0].value == ''){
                    this.dataInfo = this.realdataInfo;
                }else{
                    for(var y = 0; y < this.departBy.length; y++){
                        for(var q = 0; q < this.realdataInfo.length; q++){
                            if(this.departBy[y].value == this.realdataInfo[q].depart_code){
                                stInfoEvtInfo.push(this.realdataInfo[q]);
                            }
                        }
                    }
                    this.dataInfo = stInfoEvtInfo;
                }
            }else if($event[0].value == '' &&  1 < $event.length){
                for(var i = 0; i < $event.length; i++){
                    if($event[i].value != ''){
                        statusByInfo.name = $event[i].name;
                        statusByInfo.value = $event[i].value;
                        statusByInfos.push(statusByInfo);

                        for(var z = 0; z < this.realdataInfo.length; z++){
                            if($event[i].value == this.realdataInfo[z].status_code){
                                stInfoEvtInfo.push(this.realdataInfo[z]);
                            }
                        }                        
                    }
                }
                this.statusBy = statusByInfos;

                if(this.departBy[0].value == ''){
                    this.dataInfo = stInfoEvtInfo;
                }else{
                    for(var w = 0; w < this.departBy.length; w++){
                        for(var e = 0; e < stInfoEvtInfo.length; e++){
                            if(this.departBy[w].value == stInfoEvtInfo[e].depart_code){
                                stInfoEvtInfos.push(stInfoEvtInfo[e]);
                            }
                        }
                    }
                    this.dataInfo = stInfoEvtInfos;
                }    
            }else{
                var boolean = false;
                for(var x = 0; x < $event.length; x++){
                    if($event[x].value == ''){
                        boolean = true;
                        break;
                    }
                    for(var s = 0; s < this.realdataInfo.length; s++){
                        if($event[x].value == this.realdataInfo[s].status_code){
                            stInfoEvtInfo.push(this.realdataInfo[s]);
                        }
                    }
                }
                if(boolean){
                    statusByInfo.name = '전체';
                    statusByInfo.value = '';
                    statusByInfos.push(statusByInfo);
                    this.statusBy = statusByInfos;
                    this.dataInfo = this.realdataInfo;
                }else{
                    if(this.departBy[0].value == ''){
                        this.dataInfo = stInfoEvtInfo;
                    }else{
                        for(var r = 0; r < this.departBy.length; r++){
                            for(var t = 0; t < stInfoEvtInfo.length; t++){
                                if(this.departBy[r].value == stInfoEvtInfo[t].depart_code){
                                    stInfoEvtInfos.push(stInfoEvtInfo[t]);
                                }
                            }
                        }
                        this.dataInfo = stInfoEvtInfos.sort();
                    }            
                }
            }   
        },
        editItem (item) {
            console.log(item);
            this.editedIndex = this.dataInfo.indexOf(item);
            this.editedItem = Object.assign({}, item);
            if(this.editedItem.transfer_date == '' || this.editedItem.transfer_date == undefined || item == 'create'){
                 this.transfer_date = '';
            }else{        
                this.transfer_date = this.editedItem.transfer_date;
            }
            this.dialog = true;
        },
        deleteItem (item) {
            this.editedIndex = this.dataInfo.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialogDelete = true
        },
        deleteItemConfirm () {
            const deleteInfo = this.dataInfo[this.editedIndex];
            const deleteAxios = async ()=>{
                const res = await api.StaffManagement.deleteStaffManagementInfo(deleteInfo);
                if(res.status == '200'){
                    alert('직원 정보를 삭제했습니다.');
                    this.readDataInfo();
                    this.closeDelete();
                }else{
                    alert('직원 정보를 실패했습니다.');
                }
            }
            deleteAxios();
        },
        close () {
            this.dialog = false;
            this.$nextTick(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1 
            })
        },
        closeDelete () {
            this.dialogDelete = false
            this.$nextTick(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
            })
        },
        save () {
            const userInfo = this.$store.state.authStore;
            this.editedItem.admin_id = userInfo.userId;
            if (this.editedIndex > -1) {
                // 수정
                const updateDate = Object.assign(this.dataInfo[this.editedIndex], this.editedItem);
                const updateAxios = async ()=>{
                const res = await api.StaffManagement.updateStaffManagementInfo(updateDate);
                if(res.data){
                        alert('직원 정보를 수정했습니다.');
                        this.readDataInfo();
                        this.close();
                    }else{
                        alert('직원 정보를 수정에 실패했습니다.');
                    }
                }
                updateAxios();
            } else {
                // 저장
                const createDate = this.editedItem;
                const createAxios = async ()=>{
                    const res = await api.StaffManagement.createStaffManagementInfo(createDate);
                    console.log(res);
                    if(res.data){
                        alert('직원 정보를 등록했습니다.');
                        this.readDataInfo();
                        this.close();
                    }else{
                        alert('직원 정보를 등록에 실패했습니다.');
                    }
                }
                createAxios();        
            }
        },
        print () {
            const arr = this.dataInfo;
            const printInfo = arr.map(x =>{
                let y = {};
                y['depart_code'] = x['depart_code'];
                y['depart_name'] = x['depart_name'];
                y['username'] = x['username'];
                y['status'] = x['status'];
                y['id_reg'] = x['id_reg'];
                y['join_date'] = x['join_date'];
                y['transfer_date'] = x['transfer_date'];
                y['leave_date'] = x['leave_date'];
                y['monthly_invest'] = x['monthly_invest'];
                y['loan'] = x['loan'];
                y['monthly_repay'] = x['monthly_repay'];
                y['total_repay'] = x['total_repay'];
                y['loan_balance'] = x['loan_balance'];
                y['num_loan'] = x['num_loan'];
                y['loan_date'] = x['loan_date'];
                y['bank_account'] = x['bank_account'];
                y['misc'] = x['misc'];
                y.transfer_date = y.transfer_date == null ? '' : y.transfer_date;
                return y;
            });
            printjs({
                printable: printInfo,
                type: 'json',
                properties: [
                    { field: 'depart_code', displayName: '순번'}, 
                    { field: 'depart_name', displayName: '부서명'}, 
                    { field: 'username', displayName: '직원명'},
                    { field: 'status', displayName: '상태'},
                    { field: 'id_reg', displayName: '주민번호'}, 
                    { field: 'join_date', displayName: '가입일'}, 
                    { field: 'transfer_date', displayName: '전입일'},
                    { field: 'leave_date', displayName: '탈퇴일'},
                    { field: 'monthly_invest', displayName: '월출자금'}, 
                    { field: 'loan', displayName: '대출금'}, 
                    { field: 'monthly_repay', displayName: '월상환금'},
                    { field: 'total_repay', displayName: '총상환금'},
                    { field: 'loan_balance', displayName: '대출잔금'}, 
                    { field: 'num_loan', displayName: '횟수'}, 
                    { field: 'loan_date', displayName: '대출일'},
                    { field: 'bank_account', displayName: '은행계좌번호'},
                    { field: 'misc', displayName: '비고'},
               ],
                header: '<h3 class="custom-h3">직원 관리</h3>',
                gridHeaderStyle: 'border: 2px solid #3971A5',
                gridStyle: 'border: 2px solid #3971A5;'
            })

        },
        excel(){
            const Xlsx = require('sheetjs-style');

            const arr = this.dataInfo;
            
            const excelDate = arr.map(x => {
                let y = {};
                y['순번'] = x['depart_code'];
                y['부서명'] = x['depart_name'];
                y['직원명'] = x['username'];
                y['상태'] = x['status'];
                y['주민번호'] = x['id_reg'];
                y['가입일'] = x['join_date'];
                y['전입일'] = x['transfer_date'];
                y['탈퇴일'] = x['leave_date'];
                y['월출자금'] = x['monthly_invest'];
                y['대출금'] = x['loan'];
                y['월상환금'] = x['monthly_repay'];
                y['총상환금'] = x['total_repay'];
                y['대출잔금'] = x['loan_balance'];
                y['횟수'] = x['num_loan'];
                y['대출일'] = x['loan_date'];
                y['은행계좌번호'] = x['bank_account'];
                y['비고'] = x['misc'];                                
                return y;
            });

            const workBook = Xlsx.utils.book_new();
            const ws = Xlsx.utils.json_to_sheet(excelDate);
            ws['A1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['B1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['C1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['D1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['E1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
             ws['F1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['G1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }  
            ws['H1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['I1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
             ws['J1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['K1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }  
            ws['L1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['M1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
             ws['N1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
            ws['O1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }      
            ws['P1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }
             ws['Q1'].s = {
                alignment :{
                    vertical: "center",
                    horizontal: "center",
                    wrapText: '1', // any truthy value here
                },    
                fill : {
                    patternType: "solid",
                    fgColor: { rgb: "B2B2B2" },
                    bgColor: { rgb: "B2B2B2" } ,
                }
            }                                            
            Xlsx.utils.book_append_sheet(workBook, ws, '직원 관리');
            Xlsx.writeFile(workBook, '직원 관리.xlsx');
        }
    }
} 
</script>
