<template>
  <section class="body-sign">
    <div class="center-sign">
      <div class="logo float-left">
        <img src="../../public/img/logo.png" height="70" alt="화성시 직장금고 로고" />
      </div>

      <div class="panel card-sign">
        <div class="card-title-sign mt-3 text-end">
          <h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle me-1 text-6 position-relative top-5"></i><button @click="doLogin">로그인</button></h2>
        </div>
        <div class="card-body">
          <form action="index.html" method="post">
            <div class="form-group mb-3">
              <label>아이디</label>
              <div class="input-group">
                <input name="username" type="text" v-model="userId" class="form-control form-control-lg" />
                <span class="input-group-text">
                  <i class="bx bx-user text-4"></i>
                </span>
              </div>
            </div>

            <div class="form-group mb-3">
              <div class="clearfix">
                <label class="float-left">비밀번호</label>
              </div>
              <div class="input-group">
                <input name="pwd" type="password" v-model="userPassword" class="form-control form-control-lg" />
                <span class="input-group-text">
                  <i class="bx bx-lock text-4"></i>
                </span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-8">
              </div>
              <div class="col-sm-4 text-end">
              </div>
            </div>
          </form>
        </div>
      </div>  
      <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2022 All Rights Reserved by 직장금고.</p>
      </div>
    </section>  
</template>

<script>
// import {mapState, mapActions, mapGetters} from 'vuex'

  export default {
    name:'Login',
    data() { 
      return { 
        userId: null, 
        userPassword: null, 
      }; 
    },
    methods:{
      // 로그인 처리
      doLogin(){
        if(this.userId == "" || this.userId == null){
          alert("아이디를 입력해 주세요.");
          return;
        }else if(this.userPassword == "" || this.userPassword == null){
          alert("비밀번호를 입력해 주세요.");
          return;
        }

        let userInfo = {userId : this.userId, userPassword : this.userPassword}

        // 로그인 
        this.$store.dispatch('login', userInfo).then((res) => {
          if(res){
            this.$router.push({path : '/Main'});
          }else{
            alert('아이디와 비밀번호가 일치하지 않습니다.');
          }
        }).catch((err)=>{
          console.log(err);
        })
      }
    }
  }
</script>


