<template>
    <section class="body">
        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <div class="logo">
                    <img src="../../public/img/logo.png" height="35px" alt="화성시 로고" />
                </div>
                <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>
            
            <!-- start: search & user box -->
            <div class="header-right">
                <span class="separator"></span>
                <div id="userbox" class="userbox">
                    <a href="#" data-bs-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="../../public/img/logged-user.jpg" alt="유저 사진" class="rounded-circle"/>
                        </figure>
                        <div class="profile-info" data-lock-name="유저 이름" data-lock-email="유저 이메일 주소">
                            <span class="name">{{userName}}</span>
                            <span class="role">{{userAuth}}</span>
                        </div>
                        <i class="fa custom-caret"></i>
                    </a>
                    
                    <div class="dropdown-menu">
                        <ul class="list-unstyled mb-2">
                            <li class="divider"></li>
                            <!-- <li>
                                <a role="menuitem" tabindex="-1" href="#"><i class="bx bx-user-circle"></i> 내 프로필</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="bx bx-lock"></i> 계정 잠금</a>
                            </li> -->
                            <li>
                                <a role="menuitem" tabindex="-1" @click="Logout"><i class="bx bx-power-off"></i> 로그아웃</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">
                <div class="sidebar-header">
                    <div class="sidebar-title">
                    </div>
                    <div class="sidebar-toggle d-none d-md-block" @click="MenuButton" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>
                
                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">								
                            <ul class="nav nav-main">
                                <li class="nav-parent nav-expanded nav-active" @click="MenuCheck(0)" id="menuVer0">
                                    <a class="nav-link" href="#">
                                        <i class="bx bx-desktop" aria-hidden="false"></i>
                                        <span>기본설정</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a class="nav-link" @click="WindowOpen('Department')">부서관리</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" @click="WindowOpen('Staff')">직원관리</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" @click="WindowOpen('StaffColor')">직원상태_색상지정</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" @click="WindowOpen('LoanSetting')">대출이율설정</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" @click="WindowOpen('IdManagement')">아이디관리</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" @click="WindowOpen('test')">데이터백업</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent" @click="MenuCheck(1)" id="menuVer1"> 
                                    <a class="nav-link" href="#">
                                        <i class="bx bx-archive" aria-hidden="true"></i>
                                        <span>직장금고관리</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a class="nav-link" href="02_01_01.html">입/출금 처리</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="02_02_01.html">대출신청</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="02_03_01.html">대출내역</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="02_04_01.html">대출원장</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="02_05_01.html">배당금입력</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="02_06_01.html">탈퇴회원입금내역</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="02_07_01.html">예금관리</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent" @click="MenuCheck(2)" id="menuVer2">
                                    <a class="nav-link" href="#">
                                        <i class="bx bx-doughnut-chart" aria-hidden="true"></i>
                                        <span>각종레포트</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a class="nav-link" href="03_01_01.html">현금수납전표</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="03_02_01.html">연간월좌수배당금계산표</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" @click="WindowOpen('FormOutput')">양식출력</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent" @click="MenuCheck(3)" id="menuVer3">
                                    <a class="nav-link" href="#">
                                        <i class="bx bx-search" aria-hidden="true"></i>
                                        <span>조회</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a class="nav-link" @click="WindowOpen('TransactionHistory')">거래내역</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <!-- end: sidebar -->
            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>페이지 제목 자리</h2>
                    
                    <div class="right-wrapper text-end">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="index.html"><i class="bx bx-home"></i></a>
                            </li>
                        </ol>
                    </div>
                </header>
                <!-- start: page -->
                <!-- end: page -->
            </section>
        </div>
    </section>  
</template>

<script>
    export default{
        namae : 'Main',
        data(){
            return {
                userName: "",
                userAuth: ""
            };
        },
        mounted() {
            this.UserInfo();
        },    
        methods:{
            UserInfo(){
                // vuex 저장된 정보 호출
                const userInfo = this.$store.state.authStore;
                
                if(userInfo.token == 0){
                    this.userAuth = '쓰기';
                }else{
                    this.userAuth = '읽기';
                }
                this.userName = userInfo.userName; 
            },
            MenuButton(){
                // 메뉴 체크 액션 미적용 스크립트 제작
                const menu = document.getElementById('menuButton');
                const menuName = menu.className;
                if(menuName.indexOf('sidebar-left-collapsed') == -1){
                    menu.className += ' sidebar-left-collapsed';
                }else{
                    menu.classList.remove('sidebar-left-collapsed');
                }
            },
            MenuCheck(data){
                // 메뉴 체크 액션 미적용 스크립트 제작
                document.getElementById('menuVer0').className = 'nav-parent';
                document.getElementById('menuVer1').className = 'nav-parent';
                document.getElementById('menuVer2').className = 'nav-parent';
                document.getElementById('menuVer3').className = 'nav-parent';

                const menu = document.getElementById('menuVer'+data);
                if(data == 0){
                    menu.className += ' nav-expanded nav-active';
                }else if(data == 1){
                    menu.className += ' nav-expanded nav-active';
                }else if(data == 2){
                    menu.className += ' nav-expanded nav-active';
                }else if(data == 3){
                    menu.className += ' nav-expanded nav-active';
                }
            },
            Logout(){
                // 로그아웃 
                this.$store.dispatch('logout').then((res) => {
                    if(res){
                        this.$router.push({path : '/'});
                    }else{
                        alert('잠시후 다시 시도해 주시기 바랍니다.');
                    }
                }).catch((err)=>{
                    console.log(err);
                })
            },
            WindowOpen(data){
                // windowOpen 작업은 배포시 설정
                // console.log(data);
                // window.open(data,'_blank','resizable,height=600,width=1200').focus;
                 this.$router.push({path : '/'+data});
            },
        }
    } 
</script>


