<template>
    <div data-app>
        <div class="row">
            <div class="col">
                <div class="row mb-2">
                    <div class="col-auto ms-auto">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2 btn-group-sm mb-1" role="group" aria-label="Calculate group">
                                <button type="button" class="btn btn-sm btn-default" @click="chiefOfTheIlgye()"><i class="bx bx-save"></i> 일계장원장</button>
                            </div>
                            <div class="btn-group btn-group-sm mb-1" role="group" aria-label="Action group">
                                <button type="button" class="btn btn-sm btn-default" @click="cashRegister()"><i class="bx bx-save"></i> 현금출납부</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-modern">
                    <div class="card-body">
                        <div class="row align-items-center">										
                            <div class="col-8 col-lg-auto ml-auto mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">조회기간:</label>
                                    <data-Picker :transfer_date="firstDate" @submit="submitFristDatePicker"></data-Picker> 
                                    -
                                    <data-Picker :transfer_date="lastDate" @submit="submitLastDatePicker"></data-Picker> 
                                    <button type="button" class="btn btn-sm btn-default" @click="readDataInfo()"><i class="bx bx-save"></i> 검색</button>
                                </div>
                            </div>
                            <div class="col-4 col-lg-auto ps-lg-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">보기:</label>
                                    <v-combobox
                                    class="form-control select-style-1"
                                    v-model="hiddenBy"
                                    :items="keys"
                                    item-text="name"
                                    item-value="value"
                                    @input="dataInHidden"
                                    multiple
                                    outlined
                                    dense
                                    ></v-combobox>
                                </div>
                            </div>                            
                            <div class="col-auto ms-auto ps-lg-1">
                                <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                    <div class="input-group">
                                        <input type="text" class="search-term form-control" name="search-term" id="search-term" v-model="search" single-line hide-details placeholder="Search Category"> 
                                        <button class="btn btn-default" type="#"><i class="bx bx-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gridPrint">
            <v-data-table
                :headers="headers"
                :items="dataInfo"
                :search="search"
                :sort-by="sortBy.toLowerCase()"
                :items-per-page="itemsPerPage"
                :sort-desc="sortDesc"
                class="elevation-1">
                <template v-slot:top>
                </template>  
               <template v-slot:[getitemcontrols()]="{ item }">
                    <tr>
                        <td class="text-start table-hover selected1" >{{ item.transaction_date }}</td>
                        <td class="text-start table-hover selected2" >{{ item.transaction_name }}</td>
                        <td class="text-start table-hover selected3" >{{ item.transaction_type }}</td>
                        <td class="text-start table-hover selected4" >{{ item.money_out.toString().replace(/[^0-9]/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",") }}</td>
                        <td class="text-start table-hover selected5" >{{ item.money_in.toString().replace(/[^0-9]/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",") }}</td>
                        <td class="text-start table-hover selected6" >{{ item.bank_balance.toString().replace(/[^0-9]/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</td>    
                    </tr>    
                </template> 
            </v-data-table>
        </div>       
    </div>
</template>

<script>
import api from '@/api';
import DatePicker from "@/components/DatePicker.vue";
var FormOutputExcel = require("@/plugins/FormOutputExcel");
export default{
    components:{
        'data-Picker' : DatePicker,
    },
    name : 'FormOutput',
    data(){
        return {
            sortDesc:false,
            sortBy:'',
            hiddenBy : [{ name:'전체', value :''}],
            itemsPerPage: 0,
            firstDate : '',
            lastDate : '',
            search : '',
            headers:[
                {
                    text : '거래일',
                    value: 'transaction_date',
                    align: '',
                },
                {
                    text : '거래명',
                    value: 'transaction_name',
                    align :'',
                },
                {
                    text : '거래유형',
                    value: 'transaction_type',
                    align :'',
                },
                {
                    text:  '차변',
                    value: 'money_out',
                    align :'',
                },
                {
                    text:  '대변',
                    value: 'money_in',
                    align :'',
                },
                {
                    text:  '잔액',
                    value: 'bank_balance',
                    align :'',
                },
            ],
            keys: [
                {
                    name : '전체',
                    value :  ''
                },
                {
                    name : '거래일',
                    value : 'transaction_date'
                },
                {
                    name : '거래명',
                    value: 'transaction_name'
                },
                {
                    name : '거래유형',
                    value: 'transaction_type'
                },
                {
                    name : '차변',
                    value: 'money_out'
                },               
                {
                    name : '대변',
                    value: 'money_in'
                },
                {
                    name : '잔액',
                    value: 'bank_balance'
                },                                              
            ],
            dataInfo: [],
            headerLang:0,
        }
    },
    mounted() {
         this.timeSetting();
    }, 
    methods:{   
        getitemcontrols(){
            return `item`;
        },
        timeSetting(){
            // let today = new Date();
            // var year = today.getFullYear();
            // var month = ''+(today.getMonth() + 1);  // 월
            // var lastDay  = ''+(new Date(year , month , 0).getDate());
            // if(month.length < 2) month = '0' + month;
            // if(lastDay.length < 2) lastDay = '0' + lastDay;
            // this.firstDate = year+'-'+month+'-'+'01';
            // this.lastDate = year+'-'+month+'-'+lastDay;
            this.firstDate = '2021-01-01';
            this.lastDate = '2021-02-01';
        },
        dataInHidden($event){

            var selected1 = document.getElementsByClassName('selected1');
            var selected2 = document.getElementsByClassName('selected2');
            var selected3 = document.getElementsByClassName('selected3');
            var selected4 = document.getElementsByClassName('selected4');     
            var selected5 = document.getElementsByClassName('selected5');
            var selected6 = document.getElementsByClassName('selected6');
                          
            for(var w = 0; w < this.itemsPerPage; w++){
                selected1[w].style.display = '';
                selected2[w].style.display = '';
                selected3[w].style.display = '';
                selected4[w].style.display = '';               
                selected5[w].style.display = '';
                selected6[w].style.display = '';       
            }
            for(var yss = 0; yss < this.headers.length; yss++ ){
                this.headers[yss].align = ' ';                 
            }             
            const hiddenByInfo = new Array();
            const hiddenByInfos = new Array();             
            if($event.length == 0){
                hiddenByInfo.name = '전체';
                hiddenByInfo.value = '';     
                hiddenByInfos.push(hiddenByInfo);
                this.hiddenBy = hiddenByInfos;
                for(var t = 0; t < this.headers.length; t++ ){
                    this.headers[t].align = '';
                }
            }else if($event[0].value == '' &&  1 < $event.length){
                for(var ex = 0; ex < $event.length; ex++){
                    if($event[ex].value != ''){
                        hiddenByInfo.name = $event[ex].name;
                        hiddenByInfo.value = $event[ex].value;         
                        hiddenByInfos.push(hiddenByInfo);  
                        for(var y = 0; y < this.headers.length; y++ ){
                            if($event[ex].value == this.headers[y].value){
                                this.headers[y].align = ' d-none';
                            }else{
                                this.headers[y].align = ' ';
                            }                        
                        }    
                    } 
                }
                this.hiddenBy = hiddenByInfos;    
            }else{
                var boolean = false;
                for(var ee = 0; ee < this.hiddenBy.length; ee++){
                    if(this.hiddenBy[ee].value == ''){
                         boolean = true;
                         break;
                    }else{
                        for(var ys = 0; ys < this.headers.length; ys++ ){
                            if(this.hiddenBy[ee].value == this.headers[ys].value){
                                this.headers[ys].align = ' d-none';
                            }                    
                        } 
                    }
                }
                if(boolean){
                    hiddenByInfo.name = '전체';
                    hiddenByInfo.value = '';
                    hiddenByInfos.push(hiddenByInfo);
                    this.hiddenBy = hiddenByInfos;
                    for(var sc = 0; sc < this.headers.length; sc++ ){
                        this.headers[sc].align = ' ';
                    }
                }else{
                    for(var ew = 0; ew < $event.length; ew++){
                        const evtVal = $event[ew].value;
                        if(evtVal == 'transactionDate'){
                            for(var a = 0; a < this.itemsPerPage; a ++){
                                selected1[a].style.display = 'none';
                            }  
                        }else if(evtVal == 'transactionName'){
                            for(var b = 0; b < this.itemsPerPage; b ++){
                                selected2[b].style.display = 'none';
                            }                  
                        }else if(evtVal == 'transactionType'){
                            for(var c = 0; c < this.itemsPerPage; c ++){
                                selected3[c].style.display = 'none';
                            } 
                        }else if(evtVal == 'debit'){
                            for(var d = 0; d < this.itemsPerPage; d ++){
                                selected4[d].style.display = 'none';
                            } 
                        }else if(evtVal == 'credit'){
                            for(var e = 0; e < this.itemsPerPage; e ++){
                                selected5[e].style.display = 'none';
                            }  
                        }else if(evtVal == 'bankBalance'){
                            for(var f = 0; f < this.itemsPerPage; f ++){
                                selected6[f].style.display = 'none';
                            }                  
                        }              
                    } 
                }                
            }
        },
        readDataInfo(){
            const readDate = async ()=>{
                if(this.firstDate == '' && this.lastDate == ''){
                    alert('조회기간을 선택해주시기 바랍니다.');
                }else if(this.firstDate > this.lastDate){
                    alert('조회기간을 올바르게 선택해 주시기 바랍니다.');
                }else{ 
                    const transactionHistory = new Object();
                    transactionHistory.firstDate = this.firstDate;
                    transactionHistory.lastDate = this.lastDate;
                    const res = await api.FormOutput.readFormOutputInfo(transactionHistory);
                    this.dataInfo = res.data;
                    if(res.data.length < 100){
                        this.itemsPerPage = res.data.length;
                    }else{
                        this.itemsPerPage = 100;
                    }
                    this.headerLang = res.data.length;
                }
            }
            readDate();
        },
        submitFristDatePicker(submit){
            this.firstDate = submit;
        },
        submitLastDatePicker(submit){
            this.lastDate = submit;
        },
        chiefOfTheIlgye(){
            FormOutputExcel.chiefOfTheIlgyeExcel(this.dataInfo, this.firstDate,this.lastDate);
        },
        cashRegister(){
            FormOutputExcel.cashRegisterExcel(this.dataInfo, this.firstDate,this.lastDate);
        }
    }
} 
</script>
