<template>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="4"
        >
          <v-btn
            v-for="t in types"
            :key="t"
            class="my-4"
            block
            @click="type = t"
          >
            {{ t }}
          </v-btn>
        </v-col>
        <v-col
          class="d-flex justify-center"
        >
        <v-color-picker v-model="color"></v-color-picker>
        </v-col>
        <v-col
          cols="12"
          md="4"
        >
          <v-sheet
            dark
            class="pa-4"
          >
            <pre>{{ showColor }}</pre>
          </v-sheet>
        </v-col>
      </v-row>
      <v-btn
        color="success"
        rounded
        small
        @click="submitData()">
        save
      </v-btn>
      <v-btn
        color="success"
        rounded
        small
        @click="closeData()">
        close
      </v-btn>
    </v-container>

</template>

<script>
  export default {
    props : [
      'colorData',
    ],
    data(){
      return {
        types: ['hex'],
        type: 'hex',
        hex: '',
        colorInfo : '', 
        colorCheck:true,       
      }
    },
    computed: {
      color: {
        get () {
          if(this.colorCheck){
            return this.colorData;
          }else{
            return this[this.type]
          }
        },
        set (v) {
          this.colorCheck = false;
          this.colorInfo = v
          this[this.type] = v
        }, 
      },
      showColor () {
        if (typeof this.color === 'string') return this.color
        return JSON.stringify(Object.keys(this.color).reduce((color, key) => {
          color[key] = Number(this.color[key].toFixed(2))
          return color
        }, {}), null, 2)
      },
    },
    methods:{
      submitData(){
        this.colorCheck = true;
        return this.$emit('submit',this.colorInfo);
      },
      closeData(){
        this.colorCheck = true;
        return this.$emit('hide');
      },
    } 
  }
</script>