<template>
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="date"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="date"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="dateInfo"
            locale="ko-kr"
            no-title
            scrollable
          >
            <v-spacer></v-spacer>
            <v-btn
              text
              color="primary"
              @click="closeData()"
            >
              Cancel
            </v-btn>
            <v-btn
              text
              color="primary"
              @click="submitData()"
            >
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>
</template>

<script>
  export default {
    props : [
       'transfer_date',
    ],  
    data(){
        return {
            date: this.transfer_date,
            dateInfo :this.transfer_date,
            menu: false,
            header : ''
        }
    },
    watch:{
        'transfer_date':function(){
            this.date = this.transfer_date
            if(this.transfer_date ==  undefined || this.transfer_date == ''){
                 this.date = this.transfer_date;
                 this.dateInfo = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10);
            }else{
                this.date = this.transfer_date;
                this.dateInfo = this.transfer_date;
            }
        }
    },   
    methods:{
        closeData(){
            return this.menu = false;
            },
        submitData(){
            this.$refs.menu.save(this.dateInfo)
            return this.$emit('submit',this.dateInfo);
        }
    }
  }
</script>